<% locals.post = locals.data || {files: []}; -%>
<% include ../partials/header %>
			<header>
				<h1>Writing Post</h1>
			</header>

			<form class='pure-g pure-form pure-form-stacked' action='' method='POST'>
				<input name='image' type='hidden' value='<%= post.image %>'>
				<fieldset class='pure-u-1-4'>
					<label for='title'>Title</label>
					<input name='title' type='text' autocomplete='title' placeholder='Title' value='<%= post.title %>' autofocus>
					<label for='url'>URL</label>
					<input name='url' type='text' autocomplete='url' placeholder='URL' value='<%= post.url %>' autofocus>
					<label for='tags'>Tags</label>
					<input name='tags' type='text' autocomplete='tags' placeholder='Tags' value='<%= post.tags %>' autofocus>
					<br>
					<button type='submit' class='pure-button pure-button-success'><%= (post == locals.data)? 'Update' : 'Add' %></button>
					<button type='button' onclick='preview();' class='pure-button pure-button-secondary'>Preview</button>
					<button type='button' onclick='window.location.href = "publish";' class='pure-button pure-button-secondary'>Publish</button>
				</fieldset>

				<fieldset class='pure-u-3-4'>
					<label for='markdown'>Body (Markdown)</label>
					<textarea name='markdown' style='width: 100%;' rows='10'><%= post.markdown %></textarea>
				</fieldset>
			</form>

			<form id='image-uploader' class='pure-g pure-form pure-form-stacked' action='upload' method='POST' enctype='multipart/form-data'>
				<fieldset class='pure-u-1-4'>
					<h2>Images</h2>
					<label for='upload-box'>Upload Images</label>
					<input id='upload-box' name='file' type='file' accept='image/*'>
				</fieldset>
				<div id='uploader-gallery' class='pure-u-3-4'>
					<div class='hidden'>
						<a><img src=''></a>
						<h3></h3>
						<button type='button' class='remover pure-button pure-button-error'>Delete</button>
						<button type='button' class='appender pure-button pure-button-success'>Insert</button>
						<button type='button' class='primary pure-button pure-button-secondary'>Primary</button>
					</div>
<% for (file of post.files) { -%>
<% var url = '/posts/' + post.id + '/' + file; -%>
					<div data-name='<%= file %>'>
						<a href='<%= url %>'><img src='<%= url %>'></a>
						<h3><%= file %></h3>
						<button type='button' class='remover pure-button pure-button-error' onclick='deleteFile("<%= file %>");'>Delete</button>
						<button type='button' class='appender pure-button pure-button-success' onclick='appendFile("<%= file %>");'>Insert</button>
						<button type='button' class='primary pure-button pure-button-secondary' onclick='setPrimary("<%= file %>");'>Primary</button>
					</div>
<% } -%>
				</div>
			</form>

			<span class='pure-u-1-8'></span>

			<article class='pure-u-3-4 blog-post'>
				<header>
					<h1></h1>
					<time></time>
				</header>

				<hr>

				<figure class='primary-image'>
					<img>
				</figure>

				<div></div>
			</article>

			<span class='pure-u-1-8'></span>

			<script type='text/javascript' src='/javascripts/thirdparty/marked.js'></script>
			<script type='text/javascript' src='/javascripts/thirdparty/jquery-3.1.0.min.js'></script>
			<script type='text/javascript' src='/javascripts/thirdparty/jquery.form.min.js'></script>
			<script type='text/javascript'>
				function preview() {
					$('article h1').html($('[name=title]').val());
					$('article time').html((new Date()).toLocaleString());
					$('article img').attr('src', '/posts/<%= post.id %>/' + $('[name=image]').val());
					$('article div').html(marked($('textarea').val()));
				}

				function uploadImage() {
					$('#image-uploader').ajaxSubmit({
						beforeSend: function(data) {
							var files = $('#image-uploader input')[0].files;
							for (var i = 0; i < files.length; i++) {
								var file = files[i];
								var newItem = $('#uploader-gallery div.hidden').clone();
								newItem.children('a').attr('href', '/posts/<%= post.id %>/' + file.name);
								newItem.children('button.remover').attr('onclick', 'deleteFile("' + file.name + '");');
								newItem.children('button.appender').attr('onclick', 'appendFile("' + file.name + '");');
								newItem.children('button.primary').attr('onclick', 'setPrimary("' + file.name + '");');
								newItem.children('h3').html(file.name);
								newItem.attr('data-name', file.name);
								newItem.removeClass('hidden');
								newItem.appendTo('#uploader-gallery');
							}
						},
						success: function() {
							$('#uploader-gallery a img').each(function() {
								$(this).attr('src', $(this).parent().attr('href'));
							});
						},
						error: function(err) {
							console.error(err || 'No response');
						}
					});
				}

				function appendFile(file) {
					var val = '<a href="/posts/<%= post.id %>/' + file + '"><img src="/posts/<%= post.id %>/h384/' + file + '"></a>';
					return window.prompt('Ctrl+C -> Enter', val);
				}

				function setPrimary(file) {
					$('input[name=image]').val(file);
				}

				function deleteFile(name) {
					$.get('deleteFile/' + name, null, function() {
						$('[data-name="' + name + '"]').hide();
					});
				}

				$(document).ready(function() {
					$('#image-uploader input').change(uploadImage);
				});
			</script>
<% include ../partials/footer %>
