<% locals.main_classes = 'pure-g' -%>
<% locals.post = locals.data || [] -%>
<% include ../partials/header %>
			<article class='pure-u-2-3 blog-content'>
				<header>
					<h1><%= post.title %></h1>
					<time><%= new Date(post.published) %></time>
				</header>
				<hr>
				<div class='slideshow'>
					<img src='/posts/<%= post.id %>/<%= post.image %>' alt='<%= post.title %>'>
				</div>

				<p>
<%- post.body -%>
				</p>
			</article>

			<span class='pure-u-1-24'></span>

			<aside class='pure-u-7-24'>
				<br>
				<br>
				<section id='twitter'>
					<a class='twitter-timeline' href='https://twitter.com/m1cr0m4n' data-widget-id='626805282237227009'>Tweets by @m1cr0m4n</a>
				</section>
			</aside>

			<!-- Twitter Widget -->
			<script id='twitter-wjs' type='text/javascript' src='https://platform.twitter.com/widgets.js'></script>
<% include ../partials/footer %>
